* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'museo_sans500',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'museo_sans500',Arial, Helvetica, sans-serif;
}
br.clear{
	clear: both;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1400px;
}
a{
	color: #1a293c;
}
p {
	line-height: 1.7em;
}
header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	width: 95%;
	margin: 0 auto;
	align-items: center;
}
header nav{
	line-height: 50px;
}
header nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header nav ul li{
	margin-right: 45px;
}
header nav ul li a{
	font-size: 14px;
}
header nav ul li:last-child{
	margin-right: 0;
}
header h1{
	width: 120px;
}
header nav ul li a.button{
	padding: 10px 20px;
	background: #e2f6fe;
	color: #3eaaf8;
	border-radius: 5px;
}


#spotlight{
	margin-right: 20px;
	position: relative;
	z-index: 1:;
}
#spotlight section.content{
	background: url('../images/spotlight.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#spotlight section.content div.overlay{
	background: rgba(0,0,0,.4);
	padding: 18% 10%;
	color: #fff;
}
#spotlight section.content div.overlay h1{
	font-size: 55px;
	font-weight: bold;
	line-height: 1.4em;
}
#spotlight section.content div.overlay p{
	width: 50%;
	margin: 30px 0;
}
#spotlight section.content div.overlay a.button{
	display: inline-block;
	color: #fff;
	padding: 20px 50px;
	background-color: #5dcb74;
	border-radius: 6px;
	font-size: 16px;
}

#top{
	padding-top: 24%;
	background-color: #fdf2fc;
	margin-top: -18%;
	padding-bottom: 100px;
}
#top section.head img{
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 50px;
}
#top section.head p{
	font-size: 16px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
#top section.bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}
#top section.bottom div.item{
	width: 31%;
	height: 500px;
	background: url('../images/image1.jpg') no-repeat center center;
	background-size: cover;
}
#top section.bottom div.item.two{
	background: url('../images/image2.jpg') no-repeat center center;
	background-size: cover;	
}
#top section.bottom div.item.three{
	background: url('../images/image3.jpg') no-repeat center center;
	background-size: cover;	
}
#top section.bottom div.item div.overlay{
	background: rgba(0,0,0,.3);
	padding: 70px 40px;
	height: 360px;
}
#top section.bottom div.item div.overlay div.content{
	padding-top: 30px;
	border-top: 1px solid #fff;
}
#top section.bottom div.item div.overlay div.content a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
	font-size: 26px;
	justify-content: space-between;
	font-weight: bold;
}
#top section.bottom div.item div.overlay div.content a small.right i{
	font-size: 26px;
}


#content{
	background: #fdf2fc;
	padding: 100px 0;
}
#content h2{
	font-size: 40px;
	line-height: 1.6em;
}
#content .content{
	margin-top: 20%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#content .content div.item{
	width: 29%;
	padding-bottom: 30px;
	border-bottom: 1px solid #e9dde9;
	position: relative;
}
#content .content div.item img{
	display: block;
	width: 50%;
	margin: 0 auto;
}
#content .content div.item h3{
	margin: 30px 0;
	font-size: 20px;
	font-weight: bold;
}
#content .content div.item p{
	columns: #676d83;
	font-size: 15px;
}
#content .content div.item.two{
	top: -180px;
}
#content .content div.item.three{
	top: -360px;
}
#middle{
	padding-bottom: 100px;
}
#middle .content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#middle .content img.left{
	margin-top: -30px;
	width: 60%;
}
#middle .content div.right{
	width: 30%;
	margin-top: 100px;
}
#middle .content div.right h3{
	font-size: 36px;
	line-height: 1.5em;
}
#middle .content div.right p{
	margin: 30px 0;
	font-size: 16px;
	color: #676d83;
}
#middle .content div.right div.bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e9dde9;
	padding-top: 30px;
}
#middle .content div.right div.bottom img{
	display: block;
	width: 10%;
	height: 10%;
	margin: 0;
}
#middle .content div.right div.bottom p{
	margin: 0;
	width: 85%;
}

#partners{
	padding-bottom: 100px;
}
#partners img.top{
	display: block;
	width: 100%;
}
#partners h2{
	margin-top: 30px;
	font-size: 36px;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 40px;
}
#partners p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #676d83;
}

#testimonial{
	padding-bottom: 100px;
}
#testimonial .content{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #e9dde9;
	padding-top: 70px;
}
#testimonial .content p{
	font-size: 24px;
	line-height: 1.8em;
	width: 60%;
	margin: 0 auto 25px;
}
#testimonial .content img{
	width: 60px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 30px;
}
#testimonial .content span.name{
	font-size: 15px;
}

#help{
	padding-bottom: 100px;
}
#help .top{
	background: url('../images/half-circle.png') no-repeat;
	padding-top: 200px;
	padding-left: 10%;
	padding-bottom: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#help .top h2{
	font-size: 36px;
	width: 40%;
	line-height: 1.6em;
}
#help .top p{
	width: 50%;
	line-height: 1.9em;
}
#help section.bottom img{
	width: 100%;
	display: block;
}

#supports{
	padding: 100px 0;
	background: #fdf2fc;
}
#supports .content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#supports .content h2.left{
	font-size: 36px;
	width: 30%;
}
#supports .content ul.right{
	width: 65%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#supports .content ul.right li{
	width: 33.33%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
#supports .content ul.right li img{
	width: 90px;
	border-radius: 50%;
	margin-right: 15px;
}
#supports .content ul.right h5{
	font-size: 15px;
}

#info{
	padding-top: 200px;
}
#info .top{
	text-align: center;
}
#info .top h3{
	font-size: 36px;
	line-height: 1.5em;
	margin-bottom: 40px;
}
#info .top a.button{
	display: inline-block;
	padding: 20px 55px;
	border-radius: 6px;
	color: #fff;
	background: #5dcb74;
}
#info .bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #e9dde9;
}
#info .bottom div.item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 20%;
}
#info .bottom div.item i{
	margin-right: 15px;
	font-size: 24px;
	color: #5dcb74
}
footer{
	padding: 100px 0;
}
footer .top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
footer .top div.item{
	width: 17%;
}
footer .top div.item p{
	color: #adb7cb;
	font-size: 14px;
	line-height: 1.7em;
}
footer .top div.item h1{
	margin-bottom: 30px;
}
footer .top div.item h1 a{
	display: block;
}
footer .top div.item h1 a img{
	display: block;
}
footer .top div.item h3{
	margin-bottom: 30px;
}
footer .top div.item ul li{
	margin-bottom: 20px;
	font-size: 14px;
	color: #adb7cb;
}
footer .top div.item ul li a{
	color: #adb7cb;
}
footer .top div.item form{
	margin-top: 20px;
} 
footer .top div.item form input{
	padding: 16px;
	background: #f1f2f6;
	width: 100%;
	border-radius: 6px;
}
footer .bottom{
	margin-top: 100px; 
}
footer .bottom p.left{

}
#promo{
	background: url('../images/bottom-image.jpg') no-repeat center center;
	background-size: cover;
	height: 120vh;
	padding: 100px;
}
#promo section.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
#promo section.container div.content{
	width: 50%;
}
#promo section.container div.content h3{
	font-size: 40px;
	line-height: 1.5em;
}
#promo section.container div.content p{
	min-height: 1.7em;
	font-size: 16px;
	margin: 30px 0;
}
#promo section.container div.content div.links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
#promo section.container div.content div.links a{
	display: inline-block;
	padding: 25px 45px;
	background: #1a293c;
	border-radius: 6px;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#promo section.container div.content div.links a.one{
	margin-right: 15px;
}
#promo section.container div.content div.links a img{
	display: inline-block;
	width: 20px;
	margin-right: 15px;

}